.root {
    -fx-font-family: "Courier New";
}

.office_hours_grid_header_panes {
    -fx-background-color: #050f88;
}

.office_hours_grid_header_labels {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.office_hours_grid_time_panes {
    
}

.office_hours_grid_time_labels {
    -fx-font-weight: bold;
}

.office_hours_grid_panes {
    -fx-border-color: #000000;
}

.everything {
    -fx-background-color: #FFECD7;
}

.header {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.sub_header {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.sub_sub_header {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.bold_text {
    -fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #FFECD7;
}

.tab_section {
    -fx-background-color: #e6e6e6;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 3;
}